*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

/* Basic color we use variables in css  */

:root{
    --bs-dark-color:#1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color:#29a9fc;
    --bs-supporting-color:#c850c0;

}

/* some basic modifications on headings  */

h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca',sans-serif;
    color:var(--bs-dark-color);
}

h1{
    font-size: 3.5rem;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    font-synthesis: none;
    color:var(--bs-dark-color);
    line-height: 1.5rem;
    letter-spacing: 0.07rem;
    text-rendering: optimizeLegibility;

}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.text-light-grey{
    color: var(--bs-primary-color);
}

button,a{
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.1rem;
}


/* navbar style  */

.nav-link{
    color: var(--bs-main-color);
}
.nav-link:hover{
    color: var(--secondary-color)!important;
}

/* vedio  */
/* HERO SECTION START  */

.hero-vedio--section{
    /* max-width: 100%; */
    /* height: auto; */
    width: 30rem;
    border-radius: 2rem;
}

.bg-main{
    height: 80vh;
    position: relative;
}

.hero-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-color{
    background-color: var(--bs-dark-color)!important;
}


/* Divider css of section main hero section */

.custom-shape-divider-bottom-1711560252 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711560252 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 88px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1711560252 .shape-fill {
    fill: #FFFFFF;
}
COPY HTMLCOPY CSS
